window {
    background-color: rgba(0, 0, 0, 0.6);
}

button {
    border-radius: 25px;
    padding: 30px;
    background-color: rgba(30, 30, 30, 0.85);
    color: white;
    font-size: 18px;
}

button:hover {
    background-color: #7c3aed;
    color: white;
}

button:active {
    background-color: #5b21b6;
}